<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodfor.web.bonghyeon.InfoMapper">
	
<!-- 	<select id="truncateExrate" parameterType="map">
		${TRUNCATE_EXRATE}
	</select> -->
	
	<insert id="insertInfo" parameterType="Info">
	    INSERT INTO INFO(SEQ, COMPANY, NOWPRICE, HIGHPRICE, LOWPRICE, NUMCHANGE, PERCHANGE, TRADE) VALUES (
	    	#{seq}, #{company}, #{nowPrice}, #{highPrice}, #{lowPrice}, #{numChange}, #{perChange}, #{trade}
	    )
	</insert>
	<select id="changePageSize" resultType="Info" parameterType="PageProxy">
		SELECT * FROM INFO ORDER BY SEQ DESC limit #{startRow}, #{pageSize};
	</select>
	<select id="crawl1AllCount" resultType="int">
		SELECT COUNT(*) FROM INFO;
	</select>
</mapper>